{% extends "layout.html" %}

{% block content %}
<h1>Home</h1>
  <div>
   <p>Welcome to the RPG Characters database. This (as of right now, pathetically) simple website keeps a list of premade characters for various pen and paper RPGs such as the classic Dungeons and Dragons 3.5 and the Star Wars Saga Edition Role Playing Game.</p><br />
    <p>Currently, the website needs to be greatly renovated, and its one table needs more entries. Not to mention that it needs more tables. </p><br />
  </div>

 
  <img src="{{ url_for('static', filename='img/background.png') }}" />					
        
   <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer.   
      This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p><br />       

       

{% endblock %}