{% extends "layout.html" %}

{% block content %}
<h1>Home</h1>
  <div>
    <br>
    <p>To look up a character's profile, type in their name in the Search bar.</p><br>
    <form method="post" action="/">
      <label for="username">Search:</label>
      <input type="text" id="search" name="search" size="40" />
      <input type="submit" value="Search" name="submit" />
    </form>
  <p>An advance search option will be available in the future</p>
  {% if queryType=='yes' %}
    <table>
      <tr><th>Name</th><th>Species</th><th>Gender</th><th>Strength</th><th>Dexterity</th><th>Con</th><th>Intelligence</th>
        <th>Wisdom</th><th>Charisma</th></tr>
      {% for result in results %}
      <tr><td>{{result['Name']}}</td><td>{{result['Species']}}</td><td>{{result['Gender']}}</td><td>{{result['Str']}}</td>
        <td>{{result['Dex']}}</td><td>{{result['Con']}}</td><td>{{result['Intl']}}</td><td>{{result['Wis']}}</td><td>{{result['Cha']}}</td></tr>
      {% endfor %}
    
    </table>
    <br><br>
    <table>
      <tr><th>Name</th><th>Action</th><th>Target</th><th>Alignment</th><th>Description</th><th>Link</th></tr>
      {% for result in power %}
      <tr><td>{{result['Name']}}</td><td>{{result['Action']}}</td><td>{{result['Target']}}</td>
        <td>{{result['Alignment']}}</td><td>{{result['Description']}}</td><td><a href="{{result['Example_Link']}}">{{result['Example_Link']}}</td></tr>
      {% endfor %}
    
    </table>
  {% endif %}
  </div>

 
  <img src="{{ url_for('static', filename='img/background.png') }}" />					
        
   <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer.   
      This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p><br />       

       

{% endblock %}