{% extends "layout.html" %}

{% block content %}
<h1>Create a New Character</h1>
<br>
<form method = "post" action = "/confirm">
					<table>
					<tr><td>Name</td><td><input type="text" id="name" name="name" /></td></tr>
					<tr><td>Species</td><td><input type="text" id="species" name="species" /></td></tr>
          <tr><td>Gender</td><td><select name="gender">
					<option>Male</option>
					<option>Female</option>
					</select></td></tr>
          <tr><td>Jedi Levels</td><td><input type="number" name="jedi" min="1" max="20" step="1" value="0" size="3"/></tr>
          <tr><td>Soldier Levels</td><td><input type="number" name="soldier" min="1" max="20" step="1" value="0" size="3"/></tr>
          <tr><td>Scout Levels</td><td><input type="number" name="scout" min="1" max="20" step="1" value="0" size="3"/></tr>
          <tr><td>Scoundrel Levels</td><td><input type="number" name="scoundrel" min="1" max="20" step="1" value="0" size="3"/></tr>
          <tr><td>Noble Levels</td><td><input type="number" name="noble" min="1" max="20" step="1" value="0" size="3"/></tr>
          <tr><td>Strength</td><td><input type="number" name="str" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>Dexterity</td><td><input type="number" name="dex" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>Constitution</td><td><input type="number" name="con" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>Intelligence</td><td><input type="number" name="intl" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>Wisdom</td><td><input type="number" name="wis" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>Charisma</td><td><input type="number" name="cha" min="3" max="18" step="1" value="8" size="3"/></tr>
          <tr><td>&nbsp;</td><td><input type="submit" value="Confirm Character" /></td></tr>
  </table>
</form>

            
<p><img src="{{ url_for('static', filename='img/background.png') }}" />					
        
    <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer.   
      This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p><br />       

       

{% endblock %}
