{% extends "layout.html" %}

{% block content %}
<h1>Force Powers</h1>
<p>To look up a Force Power, type the name in the Search bar.</p><br></br>
  <form method="post" action="/something">
    <label for="username">Search:</label>
    <input type="text" id="search" name="search" size="40" />
    <input type="submit" value="Search" name="submit" />
  </form>
  <p>An advance search option will be available in the future</p>
  {% if queryType=='yes' %}
    <table>
      <tr><th>ID</th><th>Name</th><th>Action</th><th>Target</th><th>Alignment</th><th>Description</th><th>Link</th></tr>
      {% for result in results %}
      <tr><td>{{result['ID']}}</td><td>{{result['Name']}}</td><td>{{result['Action']}}</td><td>{{result['Target']}}</td>
        <td>{{result['Alignment']}}</td><td>{{result['Description']}}</td><td><a href="{{result['Example_Link']}}">{{result['Example_Link']}}</td></tr>
      {% endfor %}
    
    </table>
<br><br>
  {% endif %}

<table>
  <tr><th>ID</th><th>Name</th><th>Action Required</th><th>Target</th><th>Alignment</th><th>Description</th><th>Link</th></tr>
  {% for entry in Force_Powers %}
  <tr><td>{{entry['ID']}}</td><td>{{entry['Name']}}</td><td>{{entry['Action']}}</td><td>{{entry['Target']}}</td><td>{{entry['Alignment']}}</td>
  <td>{{entry['Description']}}</td><td><a href="{{entry['Example_Link']}}">{{entry['Example_Link']}}</a></td></tr>
  {% endfor %}
</table>

<p>
 
      <img src="{{ url_for('static', filename='img/background.png') }}" />					
        
    <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer.   
      This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p><br />       

       

{% endblock %}