{% extends "layout.html" %}

{% block content %}
<h1>Star Wars</h1>
<br></br>
<p>To look up a character's profile, type in their name in the Search bar.</p><br></br>
  <form method="post" action="/">
    <label for="username">Search:</label>
    <input type="text" id="search" name="search" size="40" />
    <input type="submit" value="Search" name="submit" />
  </form>
  <p>An advance search option will be available in the future</p>
  {% if queryType=='yes' %}
    <table>
      <tr><th>Name</th><th>Species</th><th>Gender</th><th>Strength</th><th>Dexterity</th><th>Con</th><th>Intelligence</th>
        <th>Wisdom</th><th>Charisma</th></tr>
      {% for result in results %}
      <tr><td>{{result['Name']}}</td><td>{{result['Species']}}</td><td>{{result['Gender']}}</td><td>{{result['Str']}}</td>
        <td>{{result['Dex']}}</td><td>{{result['Con']}}</td><td>{{result['Intl']}}</td><td>{{result['Wis']}}</td><td>{{result['Cha']}}</td></tr>
      {% endfor %}
    
    </table>
  {% endif %}
<table>
  <tr><th>ID</th><th>Name</th><th>Species</th><th>Level</th><th>Class</th><th>Strength</th><th>Dexterity</th><th>Constitution</th>
    <th>Intelligence</th><th>Wisdom</th><th>Charisma</th><th>Hitpoints</th><th>Reflex</th><th>Fortitude</th><th>Will</th>
    <th>Base Attack</th><th>Primary Weapon</th><th>Secondary Weapon</th><th>Primary Attack</th><th>Primary Damage</th></tr>
  {% for entry in Star_Wars %}
  <tr><td>{{entry['ID']}}</td><td>{{entry['Name']}}</td><td>{{entry['Species']}}</td><td>{{entry['Level']}}</td><td>{{entry['Class']}}</td>
    <td>{{entry['Str']}}</td><td>{{entry['Dex']}}</td><td>{{entry['Con']}}</td><td>{{entry['Intl']}}</td>
    <td>{{entry['Wis']}}</td><td>{{entry['Cha']}}</td>></tr>
  {% endfor %}
</table>

<p><img src="{{ url_for('static', filename='img/background.png') }}" />					
        
    <p>You may use this template on any site, anywhere, for free just please leave the link back to me in the footer.   
      This template validates XHTML Strict 1.0, CSS Validates as well; enjoy :) </p><br />       

       

{% endblock %}

